<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> I hope you have a nice day</h1>
    <br>
    <%= image_tag attachments['player.jpeg'].url %>
    
  </body>
</html>
