<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4> Hi, Its <%= @questioner %> </h4>
    <br>
    <%= @listener %> wants to know <%= @question %>.
    <br>
    Please answer the question by clicking on this shorten link <%= @shorten_link %>
    <br>
  </body>
</html>
